.container{
    width: 98vw;
    height: auto;
    background-color: cadetblue;
}
.img{
    display: inline;
}
img{
    border-radius: 50%;
    
}
.data{
    width: 500px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
    bottom: 300px;
    left: 50%;
}